.modal-header
     button(type="button" class="close" ng-click="cancel()" aria-hidden="true") &times;
     h4 Annual Maintenance Contract
.modal-body
  div
       form.form-horizontal.modal-form(name='amcForm', novalidate='')
          fieldset
             .form-group
                  label.col-md-4.control-label(for='amount') Vendor Name:
                  .col-md-6
                        p.form-control-static {{item.vendor}}
             .form-group
                  label.col-md-4.control-label(for='startDate')  Contract Start Date:
                  .col-md-3
                        p.form-control-static {{item.startDate | date:'dd-MM-yyyy'}}
             .form-group
                  label.col-md-4.control-label(for='endDate') Contract End Date:
                  .col-md-3
                        p.form-control-static {{item.endDate | date:'dd-MM-yyyy' }}
             .form-group
                  label.col-md-4.control-label Duration:
                  .col-md-3
                        p.form-control-static {{getPeridoDuration()}} Months 
             .form-group
                  label.col-md-4.control-label(for='amount') Contract Cost:
                  .col-md-4
                        p.form-control-static &#8377; {{item.cost}}
             .form-group
                  label.col-md-4.control-label Contract Documents:
                  .col-md-4
                      div(ng-if='item.documents.length > 0')
                          table.table.table-condensed 
                               tbody.contact-data
                                 tr(style="border-top: none;", ng:repeat='doc in item.documents')
                                    td(style="border-top: none;")
                                       i.fa.fa-paperclip &nbsp;
                                       a(href='', ng-click='getDoc(doc)')
                                             {{doc.documentName}}
.modal-footer
    div
      button.btn.btn-warning(ng-click='cancel()') Cancel
