#logincontainer(background-image)
          section(id="content")
                 form(id="loginform", ng-submit="login()", name="loginForm", role="form")
                      h1 Log-in
                      div
                          input(type="text",data-ng-model="username", placeholder="Email-id", required, autofocus, id="username")
                      div
                          input(type="password",data-ng-model="password", placeholder="Password" ,required, id="password")
                      div
                           input(type="submit", value="Log in")
                           a(href="/forgot") Lost your password?
                           a(href="/register") Sign Up
