div(no-background-image)
   .container
     .row
      .col-sm-10.col-sm-offset-1
         h3 Sign Up
         h6 Please submit following details.
         hr
         alerts
         form.form-horizontal(ng-submit="register()", name="registerForm", role="form")
            .form-group
               label.control-label.col-sm-2(for="username") Name
               .col-sm-5
                    input.form-control(type="text", data-ng-model="item.username", placeholder="Your Name", name="username", required,data-ng-maxlength="30", autofocus)
            .form-group
               label.control-label.col-sm-2(for="emailid") Email ID
               .col-sm-5
                    input.form-control(type="email", data-ng-model="item.emailid", placeholder="Your Email ID", name="emailid", required,autofocus)
            .form-group
               label.control-label.col-sm-2(for="phoneno") Phone Number
               .col-sm-5
                    input.form-control(type="text", data-ng-model="item.phoneno",placeholder="Your Phone No", name="phoneno",data-ng-minlength="8",data-ng-maxlength="10" required,autofocus)
            .form-group
               label.control-label.col-sm-2(for="apartmentNumber") Apartment Number
               .col-sm-3
                  select.form-control.input-small(ng-model="item.apartmentNumber",data-placeholder='Select Apartment', chosen, ng-options="aptno for aptno in apartmentnumbers", required)         
                    option(value="")
            hr
            .form-group
                button.btn.btn-primary(style='margin-left: 20px;',type='submit',data-ng-disabled="registerForm.$invalid")
                  i.fa.fa-check-circle
                  | &nbsp;Register
                | &nbsp;
                a.btn.btn-link(href='/login')  Back to Login
