.splash
 div.container
   div.row
     div.col-md-8.col-md-offset-2
       h1 
#guidecontent
  h2 Apartment Guide 
  p Welcome to one of the finest addresses in Pune!
  p It  is  our  endeavour  to  make  living  in  this  Housing  Complex  better  and  we  solicit  your  support  in  this endeavour.
  p Community living has several advantages that not only include a beautiful facade, well maintained Lawns and gardens, 100% back up power, and also joint celebration of festivals but it also imposes some responsibilities since individual beliefs and convictions vary, which at times may lead to friction. For example, since we  lead  such  busy lives, it  is  tempting to  park  at  one's  own  convenience  to save  time,  thus  inconveniencing  others.  Since we feel "Invisible" in such a large complex, we wonder why we cannot throw trash over the balcony where 'Nobody will see'.

 section#features.features.section
   div.container
     div.row
       h2.title.text-center.sr-only Features
       div.item.col-md-3.col-sm-6.col-xs-12.text-center
         a(href="#")
           div.icon.animated.fadeInUp.delayp1
              i.fa.fa-cloud-upload        
         div.content
           h3.title Key Information
           p
             | Apartment complex, our neighborhood
       div.item.col-md-3.col-sm-6.col-xs-12.text-center
         a(href="#")
           div.icon.animated.fadeInUp.delayp1
              i.fa.fa-rocket
         div.content
           h3.title Your Apartment
           p
             | Do's and Don't's - Staying at Magnolia
       div.item.col-md-3.col-sm-6.col-xs-12.text-center
         a(href="#")
           div.icon.animated.fadeInUp.delayp1
             i.fa.fa-users
         div.content
           h3.title Common Ammenities
           p
             | Taking care of common ammenities.
       div.item.col-md-3.col-sm-6.col-xs-12.text-center
         a(href="#")
           div.icon.animated.fadeInUp.delayp1
              i.fa.fa-map-marker
         div.content
           h3.title Security 
           p
             | Living peacefully and helping each other.