tabset
   tab(heading='Investments')
      p(style="margin-top:10px;") Financials Investments
        alerts
        .navbar.navbar-default
          form.navbar-form.navbar-left(role="search")
            .form-group
               input#search-control.form-control(type="text", ng-model="query", placeholder="Search FD")
               span#search-icon.glyphicon.glyphicon-search
          form.navbar-form.navbar-right(role="search")
               #menu-action.btn-group.navbar-right
                  button.btn.btn-warning(type='button', ng-click="open()",ng-controller='NewFinancialAssetModalCtrl')
                            span.glyphicon.glyphicon-plus
                            |&nbsp;New FD
        table.table.table-condensed
          tbody
             tr
                th Sr. No.
                th Certificate No.
                th Maturity Date
                th Bank Name
                th.amount Interest %
                th.amount Principal Amount
                th.amount Maturity Amount
                th.action Details
                th.action Delete
             tr(ng-class='getClass(item)', ng-repeat='item in financialAssets | filter:query')
                td {{$index +1}}
                td {{item.certificateNo}}
                td {{item.maturityDate | date:'dd-MM-yyyy' }}
                td {{item.bankName}}
                td.amount {{item.rateOfInterest}}
                td.amount {{item.principalAmt | currency : "&#8377;" }}
                td.amount {{item.maturityAmount | currency : "&#8377;" }}
                td.action(ng-controller='ModalFinancialAssetCtrl')
                   a(href='', ng-click='open(null,$index,item)')
                      i.glyphicon.glyphicon-wrench
                td.action
                   a(href='', ng-click='removeAsset($index,item)')
                      i.glyphicon.glyphicon-remove
        div.col-md-12
            pagination(direction-links="true" boundary-links="true" total-items="totalItems" page="currentPage" items-per-page="entryLimit" on-select-page="refreshGrid(page)")

     script#newFinancialAssetModal(type="text/ng-template")
             ng-include(src="'/partials/newFinancialAssetModal.jade'")
     script#financialAssetModal(type="text/ng-template")
             ng-include(src="'/partials/financialAssetModal.jade'")
