p Email Settings Page
.panel.panel-default
  form.form-horizontal.modal-form    
   .form-group
      label.col-md-4.control-label(for='emailid') Email ID
      .col-md-4
        input#emailid.form-control.input-md(name='emailid', type='text', placeholder='email id', required='')
    .form-group
      label.col-md-4.control-label(for='passwordinput') Password
      .col-md-4
        input#passwordinput.form-control.input-md(name='passwordinput', type='password', placeholder='email password', required='')
  .panel-footer
       .btn-group.pull-right
         a.btn.btn-success.btn-sm(href='#') Edit       
       .clearfix