p Modify Email Templates
div.col-md-6
  .list-group
    a.list-group-item(href='#')
        h4.list-group-item-heading New User
        p.list-group-item-text Email template for new user. It is used when a new user is created in the system.
    a.list-group-item(href='#')
        h4.list-group-item-heading Event Confirmation
        p.list-group-item-text Email template for clubhouse event confirmation
    a.list-group-item(href='#')
        h4.list-group-item-heading Maintenance Payment Request
        p.list-group-item-text Email template for maintenance payment
    a.list-group-item(href='#')
        h4.list-group-item-heading Maintenance Payment Reminder
        p.list-group-item-text Email template for maintenance payment reminder
    a.list-group-item(href='#')
        h4.list-group-item-heading Maintenance Payment Summary
        p.list-group-item-text Email template for maintenance payment summary
