p Receipts Module
        alerts
        .navbar.navbar-default
          form.navbar-form.navbar-left(role="search")
            .form-group
               input#search-control.form-control(type="text", ng-model="query", placeholder="Search Receipts")
               span#search-icon.glyphicon.glyphicon-search
          form.navbar-form.navbar-right(role="search")
               #menu-action.btn-group.navbar-right
                  button.btn.btn-warning(type='button', ng-click="open()", ng-controller='ModalNewReceiptCtrl')
                            span.glyphicon.glyphicon-plus
                            |&nbsp;New Receipt
        table.table.table-condensed
          tbody
             tr
                th Receipt Date
                th Party Name
                th Receipt Type
                th Bank Name                
                th Amount
                th Status
                th.action Details
                th.action Delete
             tr(ng-class='', ng-repeat='item in filteredReceipts | filter:query')
                td {{item.date | date:'dd-MM-yyyy'}}
                td {{item.partyName}}
                td {{item.type}}
                td {{item.bank}}
                td {{item.amount | currency : "&#8377;"}}
                td
                   span.label.label-default(ng-show='item.status == "0"') Not Confirmed
                   span.label.label-success(ng-show='item.status == "1"') Confirmed
                   span.label.label-warning(ng-show='item.status == "2"') Rejected
                td.action(ng-controller='ModalReceiptReconcileCtrl')
                   a(href='', ng-click='open($index,item)')
                      i.glyphicon.glyphicon-wrench
                td.action
                   a(href='', ng-click='removeReceipt($index,item)')
                      i.glyphicon.glyphicon-remove

        div.col-md-12
            pagination(direction-links="true" boundary-links="true" total-items="totalItems" page="currentPage" items-per-page="entryLimit" on-select-page="refreshGrid(page)")
        script#receiptReconcileModal(type="text/ng-template")
             ng-include(src="'/partials/receiptReconcileModal.jade'")
        script#newReceiptModal(type="text/ng-template")
             ng-include(src="'/partials/newReceiptModal.jade'")
        script#newReceiptConfirmationModal(type="text/ng-template")
             ng-include(src="'/partials/newReceiptConfirmationModal.jade'")
